Django>=4.2,<6.0
djangorestframework>=3.14,<4.0
python-dotenv>=1.0,<2.0
httpx>=0.25,<1.0
pydantic>=2.5,<3.0
langchain>=0.2.14,<0.4
langchain-openai>=0.1.22,<0.4
spacy>=3.5,<4.0
# https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl
django-cors-headers
